.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(29.34 / 18);
  padding-bottom: 26px;
  margin: 0;
  box-sizing: border-box;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    line-height: 163%;
  }
}
@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    padding-bottom: 25px;
    max-width: 100%;
    margin: 0 16px;
  }
}