.intro__text {
  max-width: 690px;
  margin: 0 0 33px;
  font-weight: 400;
  font-size: 1rem;
  line-height: calc(26.08 / 16);
}

@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    width: fit-content;
  }
}