.place__website {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-self: end;
    max-width: 456px;
}

@media screen and (max-width: 767px) {
    .place__website {
        margin-left: 16px;
    }    
}